<footer>
  <section class="ft-top">
    <div class="ctn-ftop">

      <div class="rw-rw">

        <div class="cocobay-p">
          <h4><a href="" name="Du lịch trong nước" title="/du-lich/viet-nam">Du lịch trong nước</a></h4>
          <div class="coco-tour">
            <ul class="menu menu-1">
              <li class="menu-item"><a href="" name="Hà Nội" title="/du-lich-ha-noi">Hà Nội</a></li>
              <li class="menu-item"><a href="" name="Hạ Long" title="/du-lich-ha-long">Hạ Long</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Huế</a></li>
              <li class="menu-item"><a href="" name="Quảng Bình" title="/du-lich-quang-binh">Quảng Bình</a></li>
              <li class="menu-item"><a href="" name="Đà Nẵng" title="/du-lich-da-nang">Đà Nẵng</a></li>
              <li class="menu-item"><a href="" name="Quảng Nam" title="/du-lich-quang-nam">Quảng Nam</a></li>
              <li class="menu-item"><a href="" name="Nha Trang" title="/du-lich-nha-trang">Nha Trang</a></li>
              <li class="menu-item"><a href="" name="Đà Lạt" title="/du-lich-da-lat">Đà Lạt</a></li>
            </ul>
            <ul class="menu menu-2">
              <li class="menu-item"><a href="" name="Phan Thiết" title="/du-lich-phan-thiet">Phan Thiết</a></li>
              <li class="menu-item"><a href="" name="Bà Rịa - Vũng Tàu" title="/du-lich-vung-tau">Bà Rịa - Vũng Tàu</a></li>
              <li class="menu-item"><a href="" name="Phú Quốc" title="/du-lich-phu-quoc">Phú Quốc</a></li>
              <li class="menu-item"><a href="" name="Cần Thơ" title="/du-lich-can-tho">Cần Thơ</a></li>
              <li class="menu-item"><a href="" name="Hà Tiên" title="/du-lich-ha-tien">Hà Tiên</a></li>
              <li class="menu-item"><a href="" name="Bắc Kạn" title="/du-lich-bac-kan">Bắc Kạn</a></li>
              <li class="menu-item"><a href="" name="Hà Giang" title="/du-lich-ha-giang">Hà Giang</a></li>
              <li class="menu-item"><a href="" name="Côn Đảo" title="/du-lich-con-dao">Côn Đảo</a></li>
            </ul>
          </div>
        </div>

        <!-- <div class="cocobay-p">
          <h4><a href="" name="Du lịch trong nước" title="/du-lich/viet-nam">Du lịch nước ngoài</a></h4>
          <div class="coco-tour">
            <ul class="menu menu-1">
              <li class="menu-item"><a href="" name="Hà Nội" title="/du-lich-ha-noi">Trung Quốc</a></li>
              <li class="menu-item"><a href="" name="Hạ Long" title="/du-lich-ha-long">Thái Lan</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Malaysia</a></li>
              <li class="menu-item"><a href="" name="Quảng Bình" title="/du-lich-quang-binh">Singapore</a></li>
              <li class="menu-item"><a href="" name="Đà Nẵng" title="/du-lich-da-nang">Hàn Quốc</a></li>
              <li class="menu-item"><a href="" name="Quảng Nam" title="/du-lich-quang-nam">Úc</a></li>
              <li class="menu-item"><a href="" name="Nha Trang" title="/du-lich-nha-trang">Mỹ - Hoa Kỳ</a></li>
              <li class="menu-item"><a href="" name="Đà Lạt" title="/du-lich-da-lat">Nhật Bản</a></li>
            </ul>
            <ul class="menu menu-2">
              <li class="menu-item"><a href="" name="Phan Thiết" title="/du-lich-phan-thiet">Ấn Độ</a></li>
              <li class="menu-item"><a href="" name="Bà Rịa - Vũng Tàu" title="/du-lich-vung-tau">Đức</a></li>
              <li class="menu-item"><a href="" name="Phú Quốc" title="/du-lich-phu-quoc">Maldives</a></li>
              <li class="menu-item"><a href="" name="Cần Thơ" title="/du-lich-can-tho">Philippines</a></li>
              <li class="menu-item"><a href="" name="Hà Tiên" title="/du-lich-ha-tien">Hà Lan</a></li>
              <li class="menu-item"><a href="" name="Bắc Kạn" title="/du-lich-bac-kan">Na Uy</a></li>
              <li class="menu-item"><a href="" name="Hà Giang" title="/du-lich-ha-giang">Tây Ban Nha</a></li>
              <li class="menu-item"><a href="" name="Côn Đảo" title="/du-lich-con-dao">Nga</a></li>
            </ul>
          </div>
        </div> -->

        <div class="cocobay-p">
          <h4><a href="" name="Du lịch trong nước" title="/du-lich/viet-nam">Dòng Tour</a></h4>
          <div class="coco-tour">
            <ul class="menu menu-1">
              <li class="menu-item"><a href="" name="Hà Nội" title="/du-lich-ha-noi">Cao cấp</a></li>
              <li class="menu-item"><a href="" name="Hạ Long" title="/du-lich-ha-long">Tiêu chuẩn</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Tiết kiệm</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Giá Tốt</a></li>
            </ul>
          </div>
          <h4><a href="" name="Du lịch trong nước" title="/du-lich/viet-nam">Dịch vụ lẻ</a></h4>
          <div class="coco-tour">
            <ul class="menu menu-1">
              <li class="menu-item"><a href="" name="Hà Nội" title="/du-lich-ha-noi">Vé máy bay</a></li>
              <li class="menu-item"><a href="" name="Hạ Long" title="/du-lich-ha-long">Khách sạn</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Combo du lịch</a></li>
            </ul>
          </div>
        </div>

        <div class="cocobay-p">
          <h4><a href="" name="Du lịch trong nước" title="/du-lich/viet-nam">Thông tin</a></h4>
          <div class="coco-tour">
            <ul class="menu menu-1">
              <li class="menu-item"><a href="" name="Hà Nội" title="/du-lich-ha-noi">Tạp chí du lịch</a></li>
              <li class="menu-item"><a href="" name="Hạ Long" title="/du-lich-ha-long">Cẩm nang du lịch</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Tin tức</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Sitemap</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">FAQs</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Chính sách riêng tư</a></li>
              <li class="menu-item"><a href="" name="Huế" title="/du-lich-hue">Thỏa thuận sử dụng</a></li>
            </ul>
          </div>
        </div>

        <div class="cocobay-p">
          <h4 class="h4-ppp">Liên hệ</h4>
          <div class="contact-info">
            190 Pasteur, Phường Võ Thị Sáu, Quận 3, TP
            <br>
            HCM
            <br>
            (+84 28) 3822 8898
            <br>(+84 28) 3829 9142
            <br>info&#64;vietravel.com
          </div>
          <h4>Mạng xã hội</h4>
          <ul class="socials">
            <li class="social">
              <a href="" target="_blank" rel="nofollow noreferrer" name="facebook" title="facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="social">
              <a href="" target="_blank" rel="nofollow noreferrer" name="instagram" title="instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="social">
              <a href="" target="_blank" rel="nofollow noreferrer" name="viber" title="viber">
                <i class="fab fa-viber"></i>
              </a>
            </li>
            <li class="social">
              <a href="" target="_blank" rel="nofollow noreferrer" name="youtube" title="youtube">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="cocobay-p" style="margin-right: 20px;">
          <h4>Ứng dụng di động</h4>
          <div class="coco-app">
            <a href="">
              <img src="https://travel.com.vn/images/apps/ggp.webp" alt="">
            </a>
            <a href="">
              <img src="https://travel.com.vn/images/apps/aps.webp" alt="">
            </a>
          </div>
          <div class="mb-bb">
            <div class="andr-pp">
              <p>Android</p>
              <a href="">
                <img src="https://travel.com.vn/images/apps/qrcode_android.webp" alt="">
              </a>
            </div>
            <div class="ios">
              <p>iOS</p>
              <a href="">
                <img src="https://travel.com.vn/images/apps/qrcode_ios.webp" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="cocobay-p" style="width: 35%; margin-right: 20px;">
          <div class="securi-payment">
            <div class="securi">
              <h4>Chứng nhận</h4>
              <a href="//www.dmca.com/Protection/Status.aspx?ID=9e50a0bf-95f9-4d51-9a58-0c1e0eddc3c7" rel="nofollow noreferrer" target="_blank">
                <img src="https://travel.com.vn/images/apps/certification.webp" alt="image" width="178" height="37" loading="lazy">
              </a>
              <a href="http://online.gov.vn/Home/WebDetails/646?AspxAutoDetectCookieSupport=1" rel="nofollow noreferrer" target="_blank">
                <img src="https://travel.com.vn/images/apps/notification.webp" alt="image" width="177" height="68" loading="lazy">
              </a>
            </div>
            <div class="payment">
              <h4>Chấp nhận thanh toán</h4>
              <img src="https://travel.com.vn/images/apps/123pay.webp" width="71" height="27" loading="lazy" alt="123pay">
              <img src="https://travel.com.vn/images/apps/vnpay_qrcode.webp" width="71" height="27" loading="lazy" alt="vnpay">
              <img src="https://travel.com.vn/images/apps/visa.webp" width="71" height="27" loading="lazy" alt="visa">
              <img src="https://travel.com.vn/images/apps/mtc.webp" width="71" height="27" loading="lazy" alt="mastercard">
              <img src="https://travel.com.vn/images/apps/jcb.webp" width="71" height="27" loading="lazy" alt="jcb">
              <img src="https://travel.com.vn/images/apps/vrvs.webp" width="71" height="27" loading="lazy" alt="visa">
              <img src="https://travel.com.vn/images/apps/shopeepay.webp" width="71" loading="lazy" height="27" alt="ShopeePay">
              <img src="https://travel.com.vn/images/apps/msb.png" width="71" height="27" loading="lazy" alt="MSB">
            </div>
          </div>
        </div>

        <div class="cocobay-p">
          <div class="newsletter form">
            <form action="#" method="post">
              <input name="__RequestVerificationToken" type="hidden">
              <input type="text" name="EmailRegister" placeholder="Email của Quý khách" id="EmailRegisterFooter" required="" value="">
              <input type="submit" name="submit" class="sm">
            </form>
            <h4>Tìm kiếm thông tin</h4>
            <div class="search form">
              <form action="/Tour/SearchToursByDestinationChild" method="post">
                <input name="__RequestVerificationToken" type="hidden">
                <input type="text" name="search" placeholder="Tour du lịch, điểm đến..." value="">
                <input type="submit" name="submit" class="sm">
              </form>
            </div>

          </div>
        </div>

      </div>


    </div>

  </section>
</footer>
