<div class="banner-travel" style="margin-bottom: 48px;">

  <div class="slick-kit">
    <div class="contai-slick-kit">

      <div class="img-item-bn" style="position: relative;">
        <div style="background-color: rgba(0, 0, 0, 0.274); position: absolute; height: 100%; width: 100%; top: 0;"></div>
        <img src="https://statics.vinpearl.com/female-names-in-vietnam-04_1680096778.jpg" alt="">
      </div>

    </div>
  </div>

  <div class="search-box">
    <div class="contai-sb">
      <div class="padd-ct-sb">
        <div class="row-sb">
          <div class="sb-bx-1">
            <div class="benx-benx" style="display: flex;">
              <div class="chat-kol">
                <div class="input-kol">
                  <div class="center-kol">
                    <div class="flex-ssh-kol">
                      <i class='bx bx-current-location' ></i>
                    </div>

                    <div class="flex-righ-klol">
                      <label for="react-select-2-input" class="h212">Điểm đi</label>
                      <div class="location-select">
                        <div class="text-select-location">
                          Nơi khởi hành
                        </div>
                        <div class="box-down-location-select">
                          <i class='bx bxs-chevron-down' ></i>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="chat-kol-central">
                <i class='bx bx-transfer'></i>
              </div>
              <div class="chat-kol">
                <div class="input-kol">
                  <div class="center-kol">
                    <div class="flex-ssh-kol">
                      <i class='bx bx-current-location' ></i>
                    </div>

                    <div class="flex-righ-klol">
                      <label for="react-select-2-input" class="h212">Điểm đến</label>
                      <div class="location-select">
                        <div class="text-select-location">
                          Hãy chọn điểm đến
                        </div>
                        <div class="box-down-location-select">
                          <i class='bx bxs-chevron-down' ></i>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sb-bx-2">
            <div class="chat-kol chat-kol-cancel">
              <div class="input-kol">
                <div class="center-kol">
                  <div class="flex-ssh-kol">
                    <i class='bx bxs-calendar' ></i>
                  </div>

                  <div class="flex-righ-klol">
                    <label for="react-select-2-input" class="h212">Ngày đi</label>
                    <div class="location-select">
                      <div class="text-select-location">
                        12/05/2024
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="sb-bx-3">
            <button type="submit" class="btn submit-btn ">
              <i class="fa fa-search me-1" aria-hidden="true"></i>
              Tìm kiếm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
